<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scrapper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a id="saved" href="/saved">Saved Articles</a></li>
    </ul>
    <a class="btn btn-primary scrape" href="/scrape">Scrape Articles</a>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="background" src="/assets/img/main.jpg">
    </div>
  </div>
</nav>

<div class="container">
  <div class="article-container">
    {{#each docs}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{this.title}}</h3>
        </div>
        <div class="panel-body">
          <a href="{{this.link}}">{{this.link}}</a>
          <button type="button" class="btn btn-danger pull-right" data-id="{{_id}}" data-toggle="modal" data-target="#myModal">
            Add Note
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control note" data-id="{{_id}}"></input>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary saveNote">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>
